body {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/1219743.jpg");
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#header {
    margin: 30px;
    border: 5px solid white;
    padding: 20px;
    font-weight: bold;
    font-size: 80px;
    text-align: center
}

#welcome {
    margin: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    text-align: center
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
    padding: 10px
}

#formContainer {
    margin: 100px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas:
        "box1 box3"
        "box2 box4"
        "box5 box5";
    justify-content: center;
    align-items: center
}
#formContainer > div{
    display: flex;
}
#title {
    grid-area: box1;
    justify-content: right
}
#description {
    grid-area: box2;
    justify-content: right
}
#price {
    grid-area: box3;
}
#image {
    grid-area: box4
}
#button {
    grid-area: box5;
    justify-content: center;
    align-items: center
}

#list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}
.listContainer {
    border: 3px solid white;
    width: 900px;
    padding: 10px;
    margin-bottom: 30px
}
.listContainer > div {
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center
}

@media screen and (max-width: 700px) {
    body {
        font-size: 15px
    }
    #header {
        font-size: 50px
    }
    #welcome {
        font-size: 30px
    }
    img {
        width: 300px;
    }
    .listContainer {
        width: 400px
    }
}