body {
  margin: 0;
  padding: 0
}

.container {
  margin-top: 50px;
  display: grid;
  justify-content: center
}

.square--container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr)
}

.box {
  width: 200px;
  min-height: 200px;
  border: 2px solid black
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  border: none;
  cursor: pointer
}

.button--container {
  margin-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr)
}